<html>
<head>
    <title>css 测试</title>
    <style type="text/css">
        img{
            float:left;
            height:200px;
            width: 100px;
            clear:both;
            clear:both;

        }








    </style>
</head>
<body>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>

    <img class="test-img1" src="http://5b0988e595225.cdn.sohucs.com/images/20171029/601c69311aed4aae91bda5b3b73d4e97.jpeg">
<img class="test-img2" src="http://5b0988e595225.cdn.sohucs.com/images/20171029/601c69311aed4aae91bda5b3b73d4e97.jpeg">

<img class="test-img3" src="http://5b0988e595225.cdn.sohucs.com/images/20171029/601c69311aed4aae91bda5b3b73d4e97.jpeg">
<ul>
    <li><a href="#">Link one</a></li>
    <li><a href="#">Link two</a></li>
    <li><a href="#">Link three</a></li>
    <li><a href="#">Link four</a></li>
</ul>

</body>
</html>

