<html>
<head>
    <title>css 测试</title>
    <style type="text/css">
        .test-img1{
            height:600px;
            width:600px;
            margin:100px;
            padding:5ex 10px 0.25em 20%;
            background-color: crimson;
            border-style:solid dotted dashed double;
            align-self: center;


        }
        body{
            background-color: khaki;
        }
        .test-p1{
            margin-bottom: -5px;
        }
        .test-p2{
            margin-top: -6px;
        }

    </style>



</head>
<body>

<p class="test-p1">this is a p </p>
<p class="test-p2">this is a p </p>
<p class="test-p3">this is a p </p>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<image class="test-img1" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1523124487064&di=c4dfcecff0bf5662f71c1a9b71bef9ca&imgtype=0&src=http%3A%2F%2Fimgsrc.baidu.com%2Fimage%2Fc0%253Dpixel_huitu%252C0%252C0%252C294%252C40%2Fsign%3Db029f14673f0f736ccf34441632dd675%2F86d6277f9e2f07083375ed39e224b899a901f293.jpg"></image>



</body>
</html>
