<html>
<head>
    <title>css 测试</title>
    <style type="text/css">
        li {
            list-style-type:none;
            display:inline-block;
            font-style: oblique;
            font-size: medium;
            background-color: darkgrey;
            margin:-5px;
            padding:0px

        }
        a:linked,a:visited{
            text-decoration:none;

            width:140px;
            padding:10px;



        }
        a:hover,a:active
        {
            background-color:#cc0000;
        }
        ul{
            text-align: center;
            margin:0px;
            padding:0px;


        }






    </style>

</head>
<body>

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<ul>
    <li><a href="#home">Home</a></li>
    <li><a href="#news">News</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#about">About</a></li>
</ul>
</body>
</html>
