<html>
<head>
   <style type="text/css">
       p{background-color: aquamarine;padding: 20px;word-spacing:30px;}
       body{
           background-image: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1523628515&di=b59fb42801d098ca5c2d94846ef8147f&imgtype=jpg&er=1&src=http%3A%2F%2Fpic.58pic.com%2F58pic%2F15%2F03%2F20%2F28958PICj5v_1024.jpg);
           background-repeat:no-repeat;
           background-position:50px 100px;
       }
       p.test-indent{text-indent:5em;}
   </style>


</head>
<body>
<p>This is a paragraph</p>
<p class="test-indent">This is second paragraph</p>
<table border="1">
    <tr>
        <th>Month</th>
        <th>Savings</th>
    </tr>
    <tr>
        <td>January</td>
        <td>$100</td>
    </tr>
</table>
</body>
</html>
